


* {
  margin: 0;

  font: inherit;
  font-family: 'Architects Daughter', cursive;
  color:#015A38;

}

.background{

  background-color: #fdebf0;
  background-image: url("https://www.transparenttextures.com/patterns/old-map.png"); 
 
  background-attachment: fixed;

}



body {
  font-size: 62.5%;
  font-weight: 900;
  

 
}

.App {
 
  text-align: center;
  width: 100vh;
  height: 200vh;

}

 
 
  


h1 {
  font-size: 3rem;



}



li {
  font-size: 1.5rem;

  text-align: left;

}

.add-todo {

 /* border-style: double;
 border-radius: 1px; */
 display: flex;
 justify-content: space-between;
}

button {
  font-size: 0.8rem;


}


.lista{
  margin-top: 20px;
 
  list-style-position: inside;

}
#root > div > div > wired-card {
   min-width:600px ;
   width: 800px;
   padding: 10px;
   text-align: center;
   font-size: 30px;
   line-height: 1.8;
   margin-top: 10%;
   margin-left: 35%;




}

ol {
  
  

  list-style-position:outside;

}
input{
  
  
  width: 250px;
padding-left: 15px;


}
input, select, textarea{
background-color: white;
}
