


html{
  background-color: #1780a1;
  background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");}

body {
  margin: 0;
  font-family: 'Architects Daughter', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
background-color: #165496;
background-image: url("https://www.transparenttextures.com/patterns/gplay.png"); */